div {
	height: 100vh;
}

button {
	height: 50px;
	width: 50px;
	background-color: red;
	position: fixed;
}

#fabC {
	bottom: 5px;
	right: 5px;
}

#fabT {
	bottom: 125px;
	right: 5px;
}

#fabS {
	bottom: 5px;
	left: 5px;
}

#fabL {
	bottom: 125px;
	left: 5px;
}
