div {
	height: 100vh;
}

button, input {
	height: 50px;
	width: 50px;
	background-color: red;
	position: fixed;
}

#fabC {
	bottom: 5px;
	right: 5px;
}

#fabT {
	bottom: 125px;
	right: 5px;
}

#fabS {
	bottom: 5px;
	left: 5px;
}

#fabL {
	bottom: 50px;
	left: 5px;
}

#fabB {
	bottom: 100px;
	left: 5px;
}

#fabI{
  bottom: 150px;
  left: 5px;
}
